In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
pd.options.display.max_columns = None

In [3]:
loan_data_backup = pd.read_csv("loan_data_2007_2014.csv")

In [4]:
loan_data = loan_data_backup.copy()

In [5]:
loan_data.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
loan_data.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.0,0.0,0.0,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.0,0.0,0.0,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.0,0.0,0.0,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.0,0.0,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.0,0.0,0.0,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

#### EDA - preprocessing continious variables

Some of the variables type has to be changed for ex. **emp_length**, **term**, **earliest_cr_line**, **issue_d**.

In [7]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [8]:
# emp length

In [9]:
loan_data["emp_length"].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [10]:
loan_data["emp_length_int"] = loan_data["emp_length"].str.replace("\+ years","")
loan_data["emp_length_int"] = loan_data["emp_length_int"].str.replace('< 1 year',str(0))
loan_data["emp_length_int"] = loan_data["emp_length_int"].str.replace("n/a",str(0))
loan_data["emp_length_int"] = loan_data["emp_length_int"].str.replace(" years","")
loan_data["emp_length_int"] = loan_data["emp_length_int"].str.replace(" year","")

In [11]:
loan_data["emp_length_int"].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [12]:
type(loan_data["emp_length_int"][0])

str

In [13]:
loan_data["emp_length_int"] = pd.to_numeric(loan_data["emp_length_int"])

In [14]:
type(loan_data["emp_length_int"][0])

numpy.float64

In [15]:
# term

In [16]:
loan_data["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [17]:
loan_data["term_int"] = loan_data["term"].str.replace(" months","")

In [18]:
loan_data["term_int"].unique()

array([' 36', ' 60'], dtype=object)

In [19]:
loan_data["term_int"] = loan_data["term_int"].str.strip()

In [20]:
# earliest_cr_line to datetime

In [21]:
loan_data["earliest_cr_line"]

0         Jan-85
1         Apr-99
2         Nov-01
3         Feb-96
4         Jan-96
           ...
466280    Apr-03
466281    Jun-97
466282    Dec-01
466283    Feb-03
466284    Feb-00
Name: earliest_cr_line, Length: 466285, dtype: object

In [22]:
loan_data["earliest_cr_line"].unique()

array(['Jan-85', 'Apr-99', 'Nov-01', 'Feb-96', 'Jan-96', 'Nov-04',
       'Jul-05', 'Jan-07', 'Apr-04', 'Sep-04', 'Jan-98', 'Oct-89',
       'Jul-03', 'May-91', 'Sep-07', 'Oct-98', 'Aug-93', 'Oct-03',
       'Jan-01', 'Nov-97', 'Feb-83', 'Jul-85', 'Apr-03', 'Jun-01',
       'Feb-02', 'Aug-84', 'Nov-06', 'Dec-87', 'Nov-81', 'Feb-97',
       'Apr-05', 'Oct-07', 'Dec-00', 'Apr-07', 'Dec-01', 'Jan-03',
       'Mar-94', 'Sep-98', 'Jun-04', 'Nov-95', 'Jul-99', 'Jun-95',
       'Sep-92', 'Jan-02', 'Apr-92', 'Oct-06', 'May-00', 'Dec-98',
       'Dec-04', 'Oct-00', 'May-02', 'May-06', 'Jul-02', 'Jul-06',
       'May-97', 'Oct-05', 'Apr-95', 'Oct-02', 'Jan-00', 'Apr-00',
       'Dec-94', 'Sep-05', 'Dec-84', 'Dec-99', 'Nov-03', 'Jun-89',
       'Jun-03', 'Oct-96', 'May-03', 'Jun-02', 'Jun-07', 'Dec-96',
       'Feb-84', 'Sep-02', 'Jan-86', 'May-98', 'Jan-97', 'Jun-05',
       'Feb-90', 'Mar-04', 'Jul-95', 'Aug-94', 'Jun-92', 'Mar-97',
       'Apr-06', 'Apr-90', 'Aug-99', 'Sep-00', 'Feb-01', 'Dec-88',
       'Feb-99', 'Dec-91', 'Aug-00', 'Oct-04', 'Aug-04', 'Feb-05',
       'Nov-05', 'Nov-00', 'May-07', 'Jan-91', 'Jun-00', 'Aug-06',
       'Dec-02', 'Jun-93', 'Jun-06', 'Feb-04', 'Dec-90', 'Mar-00',
       'Feb-95', 'Jul-01', 'Apr-02', 'Sep-06', 'May-99', 'Aug-98',
       'Dec-05', 'May-04', 'Oct-01', 'Jun-83', 'Mar-86', 'Apr-80',
       'Jul-04', 'Jul-08', 'May-96', 'Jan-04', 'Nov-02', 'Aug-02',
       'Aug-01', 'Mar-91', 'Sep-89', 'Sep-94', 'Sep-03', 'Sep-99',
       'Aug-05', 'Dec-86', 'Nov-98', 'Feb-06', 'May-94', 'Nov-07',
       'Feb-93', 'Nov-91', 'May-05', 'Dec-73', 'May-01', 'Mar-90',
       'Mar-96', 'Oct-79', 'Jun-81', 'Mar-01', 'Apr-01', 'Jun-99',
       'Nov-93', 'Jan-06', 'Dec-97', 'Nov-94', 'Jul-97', 'Oct-91',
       'Jun-94', 'Mar-06', 'Sep-96', 'Apr-91', 'Jul-93', 'Jan-95',
       'Sep-87', 'Mar-03', 'Oct-99', 'Jul-96', 'Dec-03', 'Aug-88',
       'Jan-92', 'Mar-98', 'Feb-07', 'Aug-82', 'Mar-95', 'Dec-92',
       'Jul-98', 'Jul-89', 'May-90', 'Jul-94', 'Sep-01', 'Mar-84',
       'Aug-03', 'Nov-99', 'Mar-07', 'Mar-08', 'Apr-94', 'Jan-05',
       'Jul-86', 'Aug-90', 'May-92', 'Jul-00', 'Mar-88', 'May-83',
       'Apr-93', 'Jul-78', 'Feb-00', 'Dec-81', 'Mar-92', 'Jan-81',
       'Sep-90', 'Jun-98', 'May-93', 'Nov-96', 'Mar-02', 'Jan-88',
       'Aug-97', 'Aug-87', 'Aug-08', 'Oct-94', 'Oct-86', 'Feb-94',
       'Jun-96', 'Feb-98', 'Nov-08', 'Apr-98', 'Jul-79', 'Jan-93',
       'May-87', 'Jul-71', 'Aug-07', 'Jun-97', 'Mar-80', 'Dec-06',
       'Jul-07', 'Oct-95', 'Jul-91', 'Jul-92', 'Dec-72', 'Dec-93',
       'Jan-99', 'Feb-03', 'Apr-97', 'Dec-95', 'Apr-96', 'Jul-90',
       'Mar-70', 'Nov-84', 'Apr-84', 'Jul-84', 'Aug-95', 'Mar-99',
       'Sep-88', 'Mar-89', 'Mar-87', 'Oct-97', 'Dec-80', 'Jan-94',
       'Sep-95', 'Mar-05', 'Jan-89', 'Feb-92', 'Jan-90', 'Nov-90',
       'Mar-69', 'Jun-75', 'Mar-85', 'Dec-07', 'Oct-93', 'Dec-89',
       'Sep-80', 'Jun-88', 'May-78', 'Apr-73', 'Aug-89', 'Oct-90',
       'Sep-91', 'Feb-82', 'Feb-87', 'Nov-85', 'Jan-84', 'Jul-88',
       'May-08', 'Oct-85', 'Mar-83', 'Aug-91', 'Sep-86', 'Jun-90',
       'Feb-86', 'Sep-97', 'Jun-84', 'Sep-81', 'Apr-86', 'Aug-79',
       'Aug-80', 'Nov-92', 'Sep-93', 'Jun-87', 'Sep-82', 'Aug-92',
       'Aug-85', 'Jul-83', 'Jun-91', 'Dec-83', 'Jan-87', 'Nov-78',
       'Oct-84', 'Aug-96', 'Nov-89', 'Sep-76', 'Nov-86', 'Oct-87',
       'Sep-08', 'May-77', 'May-86', 'Mar-81', 'Jan-83', 'Nov-76',
       'Sep-79', 'Oct-83', 'Sep-62', 'Jun-85', 'May-82', 'Feb-88',
       'Oct-92', 'Aug-83', 'Jun-73', 'Apr-85', 'Oct-88', 'Oct-81',
       'Sep-68', 'Jul-74', 'Nov-87', 'May-95', 'Feb-91', 'Nov-88',
       'Mar-93', 'Jun-08', 'Jul-80', 'Dec-82', 'Mar-75', 'Feb-80',
       'Apr-88', 'Dec-79', 'Sep-85', 'Sep-71', 'Mar-78', 'Feb-08',
       'Aug-78', 'Nov-70', 'Jun-79', 'Jun-80', 'Apr-89', 'Sep-83',
       'Feb-89', 'Nov-83', 'Jun-86', 'Oct-82', 'Aug-86', 'Oct-80',
       'May-88', 'Dec-85', 'Jan-82', 'Sep-77', 'Dec-76', 'Apr-82',
       'May-84', 'Apr-08', 'Feb-79', 'Jan-08', 'Sep-64', 'Jul-87',
       'Jan-78', 'May-89', 'Oct-77', 'Dec-75', 'Feb-85', 'Oct-08',
       'Nov-82', 'May-75', 'May-85', 'Feb-71', 'Jun-77', 'Apr-81',
       'May-79', 'Jan-72', 'Sep-67', 'Apr-78', 'Feb-65', 'Apr-83',
       'Nov-75', 'Jun-67', 'Mar-74', 'Jul-72', 'Aug-67', 'Apr-71',
       'Sep-84', 'May-81', 'Dec-70', 'Oct-73', 'Jan-71', 'Dec-63',
       'Apr-74', 'Jan-80', 'Aug-69', 'Apr-75', 'Jul-77', 'Mar-77',
       'Nov-69', 'Jan-76', 'Mar-82', 'Apr-87', 'Dec-69', 'May-74',
       'Aug-74', 'Jun-72', 'Mar-63', 'Nov-79', 'Aug-75', 'Sep-74',
       'Aug-81', 'May-73', 'Sep-73', 'Mar-73', 'Dec-77', 'Oct-76',
       'Jan-74', 'Jan-70', 'Aug-68', 'Feb-76', 'Jan-75', 'Oct-72',
       'Dec-74', 'Feb-73', 'Nov-65', 'Mar-72', 'Jun-82', 'Jun-74',
       'May-65', 'Jun-71', 'Oct-70', 'Apr-76', 'Oct-71', 'Apr-77',
       'Sep-78', 'Oct-78', 'Oct-54', 'Feb-81', 'Jan-77', 'Aug-77',
       'Dec-78', 'Aug-76', 'Jun-68', 'Jun-78', 'Jun-69', 'May-80',
       'Jan-79', 'Oct-65', 'Nov-74', 'Apr-66', 'Jun-76', 'Feb-72',
       'May-76', 'Mar-68', 'Mar-76', 'Jul-70', 'Mar-79', 'Jul-76',
       'Jul-82', 'Sep-65', 'Apr-67', 'Oct-63', 'Feb-70', 'Jul-73',
       'Feb-78', 'Nov-71', 'Aug-72', 'Jul-75', 'Sep-70', 'Jul-81',
       'Oct-64', 'Sep-72', 'May-70', 'May-63', 'Feb-69', 'Nov-80',
       'Jul-67', 'Apr-70', 'Nov-77', 'Nov-66', 'May-71', 'Apr-79',
       'May-72', 'Feb-68', 'Jul-64', 'Nov-67', 'Apr-64', 'Feb-75',
       'Jun-59', 'Sep-56', 'Jun-66', 'Jan-46', 'Mar-66', 'Jan-63',
       'Dec-50', 'Jul-69', 'Jan-68', 'Nov-73', 'Jun-70', 'Feb-77',
       'Feb-74', 'Jan-73', 'Feb-66', 'Dec-61', 'Aug-73', 'Aug-70',
       'Sep-69', 'Sep-75', 'Dec-68', 'Nov-54', 'Oct-69', 'Dec-65',
       'Apr-72', 'Nov-72', 'Sep-63', 'Apr-69', 'Nov-62', 'Oct-67',
       'May-67', 'Nov-61', 'Feb-67', 'Nov-68', 'Oct-75', 'Mar-71',
       'Aug-71', 'Dec-66', 'Oct-68', 'Oct-74', 'Nov-63', 'Apr-68',
       'May-69', 'Nov-59', nan, 'Oct-10', 'Dec-09', 'Nov-10', 'Jan-10',
       'Dec-08', 'Sep-09', 'Jul-10', 'Jan-09', 'May-09', 'May-10',
       'Sep-10', 'Apr-09', 'Nov-09', 'Apr-10', 'Mar-09', 'Feb-09',
       'Aug-09', 'Oct-09', 'Jun-09', 'Jun-10', 'Jul-09', 'Feb-10',
       'Mar-10', 'Aug-10', 'Jan-61', 'Oct-62', 'Jun-64', 'Apr-62',
       'Jan-60', 'Sep-66', 'Mar-65', 'May-68', 'Jul-66', 'Dec-56',
       'Dec-71', 'Apr-65', 'Jan-64', 'Jul-65', 'Jan-65', 'Jan-62',
       'Aug-64', 'Jan-69', 'Oct-66', 'Jun-62', 'Dec-67', 'Oct-60',
       'Jul-62', 'Dec-60', 'Jul-60', 'Jun-65', 'May-66', 'Oct-57',
       'Aug-65', 'May-60', 'Jan-67', 'Nov-53', 'Oct-59', 'Jun-63',
       'Mar-67', 'Jul-63', 'Nov-60', 'Mar-62', 'Mar-64', 'Jul-68',
       'Feb-63', 'Jan-66', 'Dec-64', 'May-64', 'Oct-61', 'Aug-60',
       'Mar-60', 'Apr-55', 'Sep-59', 'Aug-66', 'Jul-55', 'Aug-61',
       'Nov-64', 'May-53', 'Nov-50', 'Nov-55', 'Mar-61', 'Feb-57',
       'Aug-63', 'Feb-60', 'Sep-60', 'Feb-64', 'Dec-51', 'Nov-58',
       'Aug-62', 'Oct-58', 'May-62', 'Mar-11', 'Jun-11', 'Dec-10',
       'Oct-11', 'Sep-11', 'Jul-11', 'Apr-11', 'May-11', 'Jan-11',
       'Feb-11', 'Aug-11', 'Apr-63', 'Nov-11', 'Dec-58', 'Jan-58',
       'Jul-59', 'Jan-55', 'May-59', 'Aug-46', 'Apr-61', 'Jun-58',
       'Jul-58', 'Jun-60', 'Jan-51', 'Dec-62', 'Mar-59', 'Aug-58',
       'Jan-59', 'Feb-61', 'Sep-57', 'Jun-49', 'Jun-61', 'Jan-56',
       'Jan-54', 'Jan-57', 'Jan-44', 'Oct-50', 'Jan-48', 'Jul-61',
       'May-58', 'Jan-53', 'May-50', 'Nov-56'], dtype=object)

In [23]:
loan_data["earliest_cr_line_date"] = pd.to_datetime(loan_data["earliest_cr_line"], format="%b-%y")

In [24]:
loan_data["earliest_cr_line_date"]

0        1985-01-01
1        1999-04-01
2        2001-11-01
3        1996-02-01
4        1996-01-01
            ...
466280   2003-04-01
466281   1997-06-01
466282   2001-12-01
466283   2003-02-01
466284   2000-02-01
Name: earliest_cr_line_date, Length: 466285, dtype: datetime64[ns]

In [25]:
# lets check number of days between Dec 2017 and earliest credit date. the outcome is in days

In [26]:
pd.to_datetime("2017-12-01") - loan_data["earliest_cr_line_date"]

0        12022 days
1         6819 days
2         5874 days
3         7974 days
4         8005 days
            ...
466280    5358 days
466281    7488 days
466282    5844 days
466283    5417 days
466284    6513 days
Name: earliest_cr_line_date, Length: 466285, dtype: timedelta64[ns]

In [27]:
# lets cheange it to months using timedelta storing in new variable and round the outcome

In [28]:
loan_data["mths_since_earliest_cr_line"] = round(pd.to_numeric((pd.to_datetime("2017-12-01") - loan_data["earliest_cr_line_date"])/ np.timedelta64(1, "M")))

In [29]:
loan_data["mths_since_earliest_cr_line"]

0         395.0
1         224.0
2         193.0
3         262.0
4         263.0
          ...
466280    176.0
466281    246.0
466282    192.0
466283    178.0
466284    214.0
Name: mths_since_earliest_cr_line, Length: 466285, dtype: float64

In [30]:
loan_data["mths_since_earliest_cr_line"].describe()

count    466256.000000
mean        239.482430
std          93.974829
min        -612.000000
25%         183.000000
50%         225.000000
75%         285.000000
max         587.000000
Name: mths_since_earliest_cr_line, dtype: float64

In [31]:
# negative values are incorrect here.lets explore it

In [32]:
# our time stamps instead of changing to 19s has incorrectly changed to 20..'s. It could be manipulated with either regex methods or the fastest line will be to change them to the highest amount of the months in our dataframe

In [33]:
loan_data.loc[:,["earliest_cr_line","earliest_cr_line_date","mths_since_earliest_cr_line"]][loan_data["mths_since_earliest_cr_line"]<0]

       earliest_cr_line earliest_cr_line_date  mths_since_earliest_cr_line
1580             Sep-62            2062-09-01                       -537.0
1770             Sep-68            2068-09-01                       -609.0
2799             Sep-64            2064-09-01                       -561.0
3282             Sep-67            2067-09-01                       -597.0
3359             Feb-65            2065-02-01                       -566.0
...                 ...                   ...                          ...
464003           Jan-68            2068-01-01                       -601.0
464260           Jul-66            2066-07-01                       -583.0
465100           Oct-67            2067-10-01                       -598.0
465500           Sep-67            2067-09-01                       -597.0
465655           Jan-56            2056-01-01                       -457.0

[1169 rows x 3 columns]

In [34]:
loan_data["mths_since_earliest_cr_line"][loan_data["mths_since_earliest_cr_line"]<0] = loan_data["mths_since_earliest_cr_line"].max()

In [35]:
loan_data["mths_since_earliest_cr_line"].min()

73.0

In [36]:
loan_data["mths_since_earliest_cr_line"].max()

587.0

In [37]:
# issue_d similar to the above

In [38]:
loan_data["issue_d"]

0         Dec-11
1         Dec-11
2         Dec-11
3         Dec-11
4         Dec-11
           ...
466280    Jan-14
466281    Jan-14
466282    Jan-14
466283    Jan-14
466284    Jan-14
Name: issue_d, Length: 466285, dtype: object

In [39]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')

In [40]:
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))

In [41]:
loan_data['mths_since_issue_d'].describe()

count    466285.000000
mean         51.255187
std          14.340154
min          36.000000
25%          41.000000
50%          47.000000
75%          57.000000
max         126.000000
Name: mths_since_issue_d, dtype: float64

#### EDA - preprocessing  of discrete variables

We will mainly focus on: grade, sub_grade, home_ownership, verification_status, loan_status, purpose, addr_state, initial_list_status.

In [42]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 81 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466285 non-null  int64
 1   id                           466285 non-null  int64
 2   member_id                    466285 non-null  int64
 3   loan_amnt                    466285 non-null  int64
 4   funded_amnt                  466285 non-null  int64
 5   funded_amnt_inv              466285 non-null  float64
 6   term                         466285 non-null  object
 7   int_rate                     466285 non-null  float64
 8   installment                  466285 non-null  float64
 9   grade                        466285 non-null  object
 10  sub_grade                    466285 non-null  object
 11  emp_title                    438697 non-null  object
 12  emp_length                   445277 non-null  object
 13  home_ownership               466285 non-null  object
 14  annual_inc                   466281 non-null  float64
 15  verification_status          466285 non-null  object
 16  issue_d                      466285 non-null  object
 17  loan_status                  466285 non-null  object
 18  pymnt_plan                   466285 non-null  object
 19  url                          466285 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466285 non-null  object
 22  title                        466265 non-null  object
 23  zip_code                     466285 non-null  object
 24  addr_state                   466285 non-null  object
 25  dti                          466285 non-null  float64
 26  delinq_2yrs                  466256 non-null  float64
 27  earliest_cr_line             466256 non-null  object
 28  inq_last_6mths               466256 non-null  float64
 29  mths_since_last_delinq       215934 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466256 non-null  float64
 32  pub_rec                      466256 non-null  float64
 33  revol_bal                    466285 non-null  int64
 34  revol_util                   465945 non-null  float64
 35  total_acc                    466256 non-null  float64
 36  initial_list_status          466285 non-null  object
 37  out_prncp                    466285 non-null  float64
 38  out_prncp_inv                466285 non-null  float64
 39  total_pymnt                  466285 non-null  float64
 40  total_pymnt_inv              466285 non-null  float64
 41  total_rec_prncp              466285 non-null  float64
 42  total_rec_int                466285 non-null  float64
 43  total_rec_late_fee           466285 non-null  float64
 44  recoveries                   466285 non-null  float64
 45  collection_recovery_fee      466285 non-null  float64
 46  last_pymnt_d                 465909 non-null  object
 47  last_pymnt_amnt              466285 non-null  float64
 48  next_pymnt_d                 239071 non-null  object
 49  last_credit_pull_d           466243 non-null  object
 50  collections_12_mths_ex_med   466140 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466285 non-null  int64
 53  application_type             466285 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466256 non-null  float64
 58  tot_coll_amt                 396009 non-null  float64
 59  tot_cur_bal                  396009 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             396009 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
 75  emp_length_int               445277 non-null  float64
 76  term_int                     466285 non-null  object
 77  earliest_cr_line_date        466256 non-null  datetime64[ns]
 78  mths_since_earliest_cr_line  466256 non-null  float64
 79  issue_d_date                 466285 non-null  datetime64[ns]
 80  mths_since_issue_d           466285 non-null  float64
dtypes: datetime64[ns](2), float64(49), int64(7), object(23)
memory usage: 288.2+ MB

In [43]:
# list of dummy variables

In [44]:
loan_data_dummies = [pd.get_dummies(loan_data["grade"], prefix="grade", prefix_sep=":"),
                     pd.get_dummies(loan_data["sub_grade"], prefix="sub_grade", prefix_sep=":"),
                     pd.get_dummies(loan_data["home_ownership"], prefix="home_ownership", prefix_sep=":"),
                     pd.get_dummies(loan_data["verification_status"], prefix="verification_status", prefix_sep=":"),
                     pd.get_dummies(loan_data["loan_status"], prefix="loan_status", prefix_sep=":"),
                     pd.get_dummies(loan_data["purpose"], prefix="purpose", prefix_sep=":"),
                     pd.get_dummies(loan_data["addr_state"], prefix="addr_state", prefix_sep=":"),
                     pd.get_dummies(loan_data["initial_list_status"], prefix="initial_list_status", prefix_sep=":")
                    ]

In [45]:
loan_data_dummies

[        grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
 0             0        1        0        0        0        0        0
 1             0        0        1        0        0        0        0
 2             0        0        1        0        0        0        0
 3             0        0        1        0        0        0        0
 4             0        1        0        0        0        0        0
 ...         ...      ...      ...      ...      ...      ...      ...
 466280        0        0        1        0        0        0        0
 466281        0        0        0        1        0        0        0
 466282        0        0        0        1        0        0        0
 466283        1        0        0        0        0        0        0
 466284        0        0        0        1        0        0        0

 [466285 rows x 7 columns],
         sub_grade:A1  sub_grade:A2  sub_grade:A3  sub_grade:A4  sub_grade:A5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             1             0
 466284             0             0             0             0             0

         sub_grade:B1  sub_grade:B2  sub_grade:B3  sub_grade:B4  sub_grade:B5  \
 0                  0             1             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             1
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:C1  sub_grade:C2  sub_grade:C3  sub_grade:C4  sub_grade:C5  \
 0                  0             0             0             0             0
 1                  0             0             0             1             0
 2                  0             0             0             0             1
 3                  1             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             1             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:D1  sub_grade:D2  sub_grade:D3  sub_grade:D4  sub_grade:D5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             1
 466282             1             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             1             0             0

         sub_grade:E1  sub_grade:E2  sub_grade:E3  sub_grade:E4  sub_grade:E5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:F1  sub_grade:F2  sub_grade:F3  sub_grade:F4  sub_grade:F5  \
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

         sub_grade:G1  sub_grade:G2  sub_grade:G3  sub_grade:G4  sub_grade:G5
 0                  0             0             0             0             0
 1                  0             0             0             0             0
 2                  0             0             0             0             0
 3                  0             0             0             0             0
 4                  0             0             0             0             0
 ...              ...           ...           ...           ...           ...
 466280             0             0             0             0             0
 466281             0             0             0             0             0
 466282             0             0             0             0             0
 466283             0             0             0             0             0
 466284             0             0             0             0             0

 [466285 rows x 35 columns],
         home_ownership:ANY  home_ownership:MORTGAGE  home_ownership:NONE  \
 0                        0                        0                    0
 1                        0                        0                    0
 2                        0                        0                    0
 3                        0                        0                    0
 4                        0                        0                    0
 ...                    ...                      ...                  ...
 466280                   0                        1                    0
 466281                   0                        1                    0
 466282                   0                        1                    0
 466283                   0                        0                    0
 466284                   0                        1                    0

         home_ownership:OTHER  home_ownership:OWN  home_ownership:RENT
 0                          0                   0                    1
 1                          0                   0                    1
 2                          0                   0                    1
 3                          0                   0                    1
 4                          0                   0                    1
 ...                      ...                 ...                  ...
 466280                     0                   0                    0
 466281                     0                   0                    0
 466282                     0                   0                    0
 466283                     0                   1                    0
 466284                     0                   0                    0

 [466285 rows x 6 columns],
         verification_status:Not Verified  verification_status:Source Verified  \
 0                                      0                                    0
 1                                      0                                    1
 2                                      1                                    0
 3                                      0                                    1
 4                                      0                                    1
 ...                                  ...                                  ...
 466280                                 0                                    1
 466281                                 0                                    0
 466282                                 0                                    0
 466283                                 0                                    0
 466284                                 0                                    0

         verification_status:Verified
 0                                  1
 1                                  0
 2                                  0
 3                                  0
 4                                  0
 ...                              ...
 466280                             0
 466281                             1
 466282                             1
 466283                             1
 466284                             1

 [466285 rows x 3 columns],
         loan_status:Charged Off  loan_status:Current  loan_status:Default  \
 0                             0                    0                    0
 1                             1                    0                    0
 2                             0                    0                    0
 3                             0                    0                    0
 4                             0                    1                    0
 ...                         ...                  ...                  ...
 466280                        0                    1                    0
 466281                        1                    0                    0
 466282                        0                    1                    0
 466283                        0                    0                    0
 466284                        0                    1                    0

         loan_status:Does not meet the credit policy. Status:Charged Off  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status:Does not meet the credit policy. Status:Fully Paid  \
 0                                                       0
 1                                                       0
 2                                                       0
 3                                                       0
 4                                                       0
 ...                                                   ...
 466280                                                  0
 466281                                                  0
 466282                                                  0
 466283                                                  0
 466284                                                  0

         loan_status:Fully Paid  loan_status:In Grace Period  \
 0                            1                            0
 1                            0                            0
 2                            1                            0
 3                            1                            0
 4                            0                            0
 ...                        ...                          ...
 466280                       0                            0
 466281                       0                            0
 466282                       0                            0
 466283                       1                            0
 466284                       0                            0

         loan_status:Late (16-30 days)  loan_status:Late (31-120 days)
 0                                   0                               0
 1                                   0                               0
 2                                   0                               0
 3                                   0                               0
 4                                   0                               0
 ...                               ...                             ...
 466280                              0                               0
 466281                              0                               0
 466282                              0                               0
 466283                              0                               0
 466284                              0                               0

 [466285 rows x 9 columns],
         purpose:car  purpose:credit_card  purpose:debt_consolidation  \
 0                 0                    1                           0
 1                 1                    0                           0
 2                 0                    0                           0
 3                 0                    0                           0
 4                 0                    0                           0
 ...             ...                  ...                         ...
 466280            0                    0                           1
 466281            0                    0                           1
 466282            0                    0                           1
 466283            0                    1                           0
 466284            0                    0                           0

         purpose:educational  purpose:home_improvement  purpose:house  \
 0                         0                         0              0
 1                         0                         0              0
 2                         0                         0              0
 3                         0                         0              0
 4                         0                         0              0
 ...                     ...                       ...            ...
 466280                    0                         0              0
 466281                    0                         0              0
 466282                    0                         0              0
 466283                    0                         0              0
 466284                    0                         0              0

         purpose:major_purchase  purpose:medical  purpose:moving  \
 0                            0                0               0
 1                            0                0               0
 2                            0                0               0
 3                            0                0               0
 4                            0                0               0
 ...                        ...              ...             ...
 466280                       0                0               0
 466281                       0                0               0
 466282                       0                0               0
 466283                       0                0               0
 466284                       0                0               0

         purpose:other  purpose:renewable_energy  purpose:small_business  \
 0                   0                         0                       0
 1                   0                         0                       0
 2                   0                         0                       1
 3                   1                         0                       0
 4                   1                         0                       0
 ...               ...                       ...                     ...
 466280              0                         0                       0
 466281              0                         0                       0
 466282              0                         0                       0
 466283              0                         0                       0
 466284              1                         0                       0

         purpose:vacation  purpose:wedding
 0                      0                0
 1                      0                0
 2                      0                0
 3                      0                0
 4                      0                0
 ...                  ...              ...
 466280                 0                0
 466281                 0                0
 466282                 0                0
 466283                 0                0
 466284                 0                0

 [466285 rows x 14 columns],
         addr_state:AK  addr_state:AL  addr_state:AR  addr_state:AZ  \
 0                   0              0              0              1
 1                   0              0              0              0
 2                   0              0              0              0
 3                   0              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0
 466281              0              0              0              0
 466282              0              0              0              0
 466283              0              0              0              0
 466284              0              0              0              0

         addr_state:CA  addr_state:CO  addr_state:CT  addr_state:DC  \
 0                   0              0              0              0
 1                   0              0              0              0
 2                   0              0              0              0
 3                   1              0              0              0
 4                   0              0              0              0
 ...               ...            ...            ...            ...
 466280              0              0              0              0

In [46]:
loan_data_dummies = pd.concat(loan_data_dummies, axis=1)

In [47]:
# loan dummies dataframe

loan_data_dummies.head()

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:ANY,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f,initial_list_status:w
0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [48]:
loan_data = pd.concat([loan_data,loan_data_dummies ], axis=1)

In [49]:
loan_data.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'addr_state:TX', 'addr_state:UT', 'addr_state:VA', 'addr_state:VT',
       'addr_state:WA', 'addr_state:WI', 'addr_state:WV', 'addr_state:WY',
       'initial_list_status:f', 'initial_list_status:w'],
      dtype='object', length=207)

#### EDA - missing values

In [50]:
loan_data.isnull().sum()

Unnamed: 0               0
id                       0
member_id                0
loan_amnt                0
funded_amnt              0
                        ..
addr_state:WI            0
addr_state:WV            0
addr_state:WY            0
initial_list_status:f    0
initial_list_status:w    0
Length: 207, dtype: int64

In [51]:
pd.options.display.max_rows = None

Many of the columns have missing values. As we would't use all of them we will focus on:

annual_inc, 
delinq_2yrs, 
inq_last_6mths, 
open_acc, 
pub_rec, 
total_acc, 
acc_now_delinq, 
total_rev_hi_lim, 
emp_length_int, 
mths_since_earliest_cr_line

In [52]:
loan_data.isnull().sum()

Unnamed: 0                                                              0
id                                                                      0
member_id                                                               0
loan_amnt                                                               0
funded_amnt                                                             0
funded_amnt_inv                                                         0
term                                                                    0
int_rate                                                                0
installment                                                             0
grade                                                                   0
sub_grade                                                               0
emp_title                                                           27588
emp_length                                                          21008
home_ownership                                                          0
annual_inc                                                              4
verification_status                                                     0
issue_d                                                                 0
loan_status                                                             0
pymnt_plan                                                              0
url                                                                     0
desc                                                               340302
purpose                                                                 0
title                                                                  20
zip_code                                                                0
addr_state                                                              0
dti                                                                     0
delinq_2yrs                                                            29
earliest_cr_line                                                       29
inq_last_6mths                                                         29
mths_since_last_delinq                                             250351
mths_since_last_record                                             403647
open_acc                                                               29
pub_rec                                                                29
revol_bal                                                               0
revol_util                                                            340
total_acc                                                              29
initial_list_status                                                     0
out_prncp                                                               0
out_prncp_inv                                                           0
total_pymnt                                                             0
total_pymnt_inv                                                         0
total_rec_prncp                                                         0
total_rec_int                                                           0
total_rec_late_fee                                                      0
recoveries                                                              0
collection_recovery_fee                                                 0
last_pymnt_d                                                          376
last_pymnt_amnt                                                         0
next_pymnt_d                                                       227214
last_credit_pull_d                                                     42
collections_12_mths_ex_med                                            145
mths_since_last_major_derog                                        367311
policy_code                                                             0
application_type                                                        0
annual_inc_joint                                                   466285
dti_joint                                                          466285
verification_status_joint                                          466285
acc_now_delinq                                                         29
tot_coll_amt                                                        70276
tot_cur_bal                                                         70276
open_acc_6m                                                        466285
open_il_6m                                                         466285
open_il_12m                                                        466285
open_il_24m                                                        466285
mths_since_rcnt_il                                                 466285
total_bal_il                                                       466285
il_util                                                            466285
open_rv_12m                                                        466285
open_rv_24m                                                        466285
max_bal_bc                                                         466285
all_util                                                           466285
total_rev_hi_lim                                                    70276
inq_fi                                                             466285
total_cu_tl                                                        466285
inq_last_12m                                                       466285
emp_length_int                                                      21008
term_int                                                                0
earliest_cr_line_date                                                  29
mths_since_earliest_cr_line                                            29
issue_d_date                                                            0
mths_since_issue_d                                                      0
grade:A                                                                 0
grade:B                                                                 0
grade:C                                                                 0
grade:D                                                                 0
grade:E                                                                 0
grade:F                                                                 0
grade:G                                                                 0
sub_grade:A1                                                            0
sub_grade:A2                                                            0
sub_grade:A3                                                            0
sub_grade:A4                                                            0
sub_grade:A5                                                            0
sub_grade:B1                                                            0
sub_grade:B2                                                            0
sub_grade:B3                                                            0
sub_grade:B4                                                            0
sub_grade:B5                                                            0
sub_grade:C1                                                            0
sub_grade:C2                                                            0
sub_grade:C3                                                            0
sub_grade:C4                                                            0
sub_grade:C5                                                            0
sub_grade:D1                                                            0
sub_grade:D2                                                            0
sub_grade:D3                                                            0
sub_grade:D4                                                            0
sub_grade:D5                                                            0
sub_grade:E1                                                            0
sub_grade:E2                                                            0
sub_grade:E3                                                            0
sub_grade:E4                                                            0
sub_grade:E5                                                            0
sub_grade:F1                                                            0
sub_grade:F2                                                            0
sub_grade:F3                                                            0
sub_grade:F4                                                            0
sub_grade:F5                                                            0
sub_grade:G1                                                            0
sub_grade:G2                                                            0
sub_grade:G3                                                            0
sub_grade:G4                                                            0
sub_grade:G5                                                            0
home_ownership:ANY                                                      0
home_ownership:MORTGAGE                                                 0
home_ownership:NONE                                                     0
home_ownership:OTHER                                                    0
home_ownership:OWN                                                      0
home_ownership:RENT                                                     0
verification_status:Not Verified                                        0
verification_status:Source Verified                                     0
verification_status:Verified                                            0
loan_status:Charged Off                                                 0
loan_status:Current                                                     0
loan_status:Default                                                     0
loan_status:Does not meet the credit policy. Status:Charged Off         0
loan_status:Does not meet the credit policy. Status:Fully Paid          0
loan_status:Fully Paid                                                  0
loan_status:In Grace Period                                             0
loan_status:Late (16-30 days)                                           0
loan_status:Late (31-120 days)                                          0
purpose:car                                                             0
purpose:credit_card                                                     0
purpose:debt_consolidation                                              0
purpose:educational                                                     0
purpose:home_improvement                                                0
purpose:house                                                           0
purpose:major_purchase                                                  0
purpose:medical                                                         0
purpose:moving                                                          0
purpose:other                                                           0
purpose:renewable_energy                                                0
purpose:small_business                                                  0
purpose:vacation                                                        0
purpose:wedding                                                         0
addr_state:AK                                                           0
addr_state:AL                                                           0
addr_state:AR                                                           0
addr_state:AZ                                                           0
addr_state:CA                                                           0
addr_state:CO                                                           0
addr_state:CT                                                           0
addr_state:DC                                                           0
addr_state:DE                                                           0
addr_state:FL                                                           0
addr_state:GA                                                           0
addr_state:HI                                                           0
addr_state:IA                                                           0
addr_state:ID                                                           0
addr_state:IL                                                           0
addr_state:IN                                                           0
addr_state:KS                                                           0
addr_state:KY                                                           0
addr_state:LA                                                           0
addr_state:MA                                                           0
addr_state:MD                                                           0
addr_state:ME                                                           0
addr_state:MI                                                           0
addr_state:MN                                                           0
addr_state:MO                                                           0
addr_state:MS                                                           0
addr_state:MT                                                           0
addr_state:NC                                                           0
addr_state:NE                                                           0
addr_state:NH                                                           0
addr_state:NJ                                                           0
addr_state:NM                                                           0
addr_state:NV                                                           0
addr_state:NY                                                           0
addr_state:OH                                                           0
addr_state:OK                                                           0
addr_state:OR                                                           0
addr_state:PA                                                           0
addr_state:RI                                                           0
addr_state:SC                                                           0
addr_state:SD                                                           0
addr_state:TN                                                           0
addr_state:TX                                                           0
addr_state:UT                                                           0
addr_state:VA                                                           0
addr_state:VT                                                           0
addr_state:WA                                                           0
addr_state:WI                                                           0
addr_state:WV                                                           0
addr_state:WY                                                           0
initial_list_status:f                                                   0
initial_list_status:w                                                   0
dtype: int64

In [53]:
pd.options.display.max_rows = 100

In [54]:
# missing values handling

In [55]:
loan_data["total_rev_hi_lim"].fillna(loan_data["funded_amnt"], inplace = True)

In [56]:
loan_data["total_rev_hi_lim"].isnull().sum()

0

In [57]:
loan_data["annual_inc"].fillna(loan_data["annual_inc"].mean(), inplace=True)

In [58]:
# other columns will require to fill na's with zero

In [59]:
columns_to_fill_na = ["mths_since_earliest_cr_line","acc_now_delinq","total_acc","pub_rec","open_acc","inq_last_6mths","delinq_2yrs","emp_length_int"]

In [60]:
for x in columns_to_fill_na:
    loan_data[x].fillna(0, inplace=True)

In [61]:
loan_data["mths_since_earliest_cr_line"].isnull().sum()

0

In [62]:
loan_data["inq_last_6mths"].isnull().sum()

0

### Model data preparation: PD model (probability of default)

##### Dependent variable Good/Bad(default) definition - Default and Non-default accounts

In [63]:
# Fully paid, current and in grace period - good (non-default)

loan_data["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [64]:
loan_data["loan_status"].value_counts()

Current                                                224226
Fully Paid                                             184739
Charged Off                                             42475
Late (31-120 days)                                       6900
In Grace Period                                          3146
Does not meet the credit policy. Status:Fully Paid       1988
Late (16-30 days)                                        1218
Default                                                   832
Does not meet the credit policy. Status:Charged Off       761
Name: loan_status, dtype: int64

In [65]:
# accounts proportion by status

loan_data["loan_status"].value_counts() / loan_data["loan_status"].count()

Current                                                0.480878
Fully Paid                                             0.396193
Charged Off                                            0.091092
Late (31-120 days)                                     0.014798
In Grace Period                                        0.006747
Does not meet the credit policy. Status:Fully Paid     0.004263
Late (16-30 days)                                      0.002612
Default                                                0.001784
Does not meet the credit policy. Status:Charged Off    0.001632
Name: loan_status, dtype: float64

In [66]:
# the function will return: 1- for good status, 0- bad status (as per listed below)
loan_data["good_bad"] = np.where(loan_data["loan_status"].isin(["Charged Off","Default", "Does not meet the credit policy. Status:Fully Paid",
                                                              "Late (31-120 days)"]),0,1)

In [67]:
# will be used as a dependant indicator in PD model
loan_data["good_bad"]

0         1
1         0
2         1
3         1
4         1
         ..
466280    1
466281    0
466282    1
466283    1
466284    1
Name: good_bad, Length: 466285, dtype: int32

In [68]:
loan_data["good_bad"].value_counts()

1    414090
0     52195
Name: good_bad, dtype: int64

#### Fine- classing ( turning continious variables such as income, into categories)

WoE (weight of evidence) ratio WoE= (%good_i / %bad_i) = information value

what extent an independant variable would predict a dependent variable

###### Predictive powers

|range: 0-1||Predictive powers|
|----------||-----------------|
| IV < 0.02||No predictive power|
|0.02 < IV < 0.1|| Weak predictive power|
|0.1 < IV < 0.3||Medium predictive power|
|0.3 < IV < 0.5||Strong predictive power|
|0.5 < IV      ||Suspiciously high predictive power (impossible)|

In [69]:
from sklearn.model_selection import train_test_split

In [70]:
X = loan_data.drop("good_bad", axis=1)

In [71]:
y = loan_data.loc[:,"good_bad"]

In [72]:
loan_data_inputs_train, loan_data_inputs_test, loan_data_targets_train, loan_data_targets_test = train_test_split(X,y,test_size = 0.2, random_state = 42 )

In [73]:
# Data preparation

In [74]:
df_inputs_prepr = loan_data_inputs_train
df_target_prepr = loan_data_targets_train

In [75]:
df_inputs_prepr["grade"].unique()

array(['A', 'C', 'D', 'B', 'E', 'F', 'G'], dtype=object)

In [76]:
# calculation of WoE of the grade WoEj - ln(%Good / %Bad)

In [77]:
df1 = pd.concat([df_inputs_prepr["grade"],df_target_prepr], axis = 1)

In [78]:
df1.head()

       grade  good_bad
427211     A         1
206088     C         1
136020     A         1
412305     D         0
36159      C         0

In [79]:
df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].count()

  grade  good_bad
0     A     59759
1     B    109730
2     C    100245
3     D     61498
4     E     28612
5     F     10530
6     G      2654

In [80]:
# proportion of good/bad borrowers: 1 - if good, 0- if bad

In [81]:
df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].mean()

  grade  good_bad
0     A  0.959939
1     B  0.919630
2     C  0.883246
3     D  0.842255
4     E  0.799070
5     F  0.749478
6     G  0.709495

In [82]:
df1 = pd.concat([df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].count(),
                 df1.groupby(df1.columns.values[0], as_index=False)[df1.columns.values[1]].mean()], axis=1)

In [83]:
df1

  grade  good_bad grade  good_bad
0     A     59759     A  0.959939
1     B    109730     B  0.919630
2     C    100245     C  0.883246
3     D     61498     D  0.842255
4     E     28612     E  0.799070
5     F     10530     F  0.749478
6     G      2654     G  0.709495

In [84]:
df1 = df1.iloc[:, [0,1,3]]
df1

  grade  good_bad  good_bad
0     A     59759  0.959939
1     B    109730  0.919630
2     C    100245  0.883246
3     D     61498  0.842255
4     E     28612  0.799070
5     F     10530  0.749478
6     G      2654  0.709495

In [85]:
df1.columns

Index(['grade', 'good_bad', 'good_bad'], dtype='object')

In [86]:
# columns rename for no of obs and proportion of good
df1.columns = [df1.columns.values[0], "n_obs", "prop_good"]

### Calculations

In [87]:
# df ready for information value calculations
df1

  grade   n_obs  prop_good
0     A   59759   0.959939
1     B  109730   0.919630
2     C  100245   0.883246
3     D   61498   0.842255
4     E   28612   0.799070
5     F   10530   0.749478
6     G    2654   0.709495

In [88]:
# prop of obs per each grade

In [89]:
df1["prop_n_obs"] = df1["n_obs"] / df1["n_obs"].sum()

In [90]:
# no of good/bad borrowers by grade group

In [91]:
df1["n_good"] = df1["prop_good"] * df1["n_obs"]
df1["n_bad"] = (1 - df1["prop_good"]) * df1["n_obs"]
df1

  grade   n_obs  prop_good  prop_n_obs    n_good    n_bad
0     A   59759   0.959939    0.160200   57365.0   2394.0
1     B  109730   0.919630    0.294160  100911.0   8819.0
2     C  100245   0.883246    0.268733   88541.0  11704.0
3     D   61498   0.842255    0.164862   51797.0   9701.0
4     E   28612   0.799070    0.076702   22863.0   5749.0
5     F   10530   0.749478    0.028228    7892.0   2638.0
6     G    2654   0.709495    0.007115    1883.0    771.0

In [92]:
# proportion of good and bad borrowers per each grade

In [93]:
df1["prop_n_good"] = df1["n_good"] / df1["n_good"].sum()
df1["prop_n_bad"] = df1["n_bad"] / df1["n_bad"].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad
0,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306
1,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102
2,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215
4,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615
5,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146
6,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456

In [94]:
# by having prop_n_good and ._bad, we have informations required to calculate WoE

In [95]:
df1["WoE"] = np.log(df1["prop_n_good"] / df1["prop_n_bad"])
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306,1.105911
1,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102,0.366773
2,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454
4,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063
5,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729
6,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624

In [96]:
df1 = df1.sort_values(["WoE"])

In [97]:
df1.reset_index(drop=True, inplace=True)

In [98]:
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624
1,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729
2,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454
4,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022
5,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102,0.366773
6,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306,1.105911

In [99]:
df1 = df1.sort_values(["WoE"])

In [100]:
df1.head()

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE
0,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624
1,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729
2,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454
4,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022

In [101]:
# difference in proportion of good loans between 2 subsequent categories and difference of WoE between 2 subsequent categoriess

In [102]:
df1["diff_prop_good"] = df1["prop_good"].diff().abs()
df1["diff_WoE"] = df1["WoE"].diff().abs()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE
0,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624,NaN,NaN
1,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729,0.039983,0.202895
2,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063,0.049593,0.284665
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454,0.043185,0.294609
4,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022,0.040991,0.348432
5,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102,0.366773,0.036384,0.413795
6,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306,1.105911,0.040309,0.739138

In [103]:
# information value calculations for each grade overall

In [104]:
df1["IV"] = (df1["prop_n_good"] - df1["prop_n_bad"]) * df1["WoE"]
df1["IV"] = df1["IV"].sum()
df1

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624,NaN,NaN,0.29375
1,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729,0.039983,0.202895,0.29375
2,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063,0.049593,0.284665,0.29375
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454,0.043185,0.294609,0.29375
4,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022,0.040991,0.348432,0.29375
5,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102,0.366773,0.036384,0.413795,0.29375
6,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306,1.105911,0.040309,0.739138,0.29375

In [105]:
# WoE function for discrete unordered variables
def woe_discrete(df, discrete_variabe_name, good_bad_variable_df):
    df = pd.concat([df[discrete_variabe_name], good_bad_variable_df], axis = 1)
    df = pd.concat([df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].count(),
                    df.groupby(df.columns.values[0], as_index = False)[df.columns.values[1]].mean()], axis = 1)
    df = df.iloc[:, [0, 1, 3]]
    df.columns = [df.columns.values[0], 'n_obs', 'prop_good']
    df['prop_n_obs'] = df['n_obs'] / df['n_obs'].sum()
    df['n_good'] = df['prop_good'] * df['n_obs']
    df['n_bad'] = (1 - df['prop_good']) * df['n_obs']
    df['prop_n_good'] = df['n_good'] / df['n_good'].sum()
    df['prop_n_bad'] = df['n_bad'] / df['n_bad'].sum()
    df['WoE'] = np.log(df['prop_n_good'] / df['prop_n_bad'])
    df = df.sort_values(['WoE'])
    df = df.reset_index(drop = True)
    df['diff_prop_good'] = df['prop_good'].diff().abs()
    df['diff_WoE'] = df['WoE'].diff().abs()
    df['IV'] = (df['prop_n_good'] - df['prop_n_bad']) * df['WoE']
    df['IV'] = df['IV'].sum()
    return df

In [106]:
# Grade
df_temp = woe_discrete(df_inputs_prepr, 'grade', df_target_prepr)

In [107]:
df_temp

,grade,n_obs,prop_good,prop_n_obs,n_good,n_bad,prop_n_good,prop_n_bad,WoE,diff_prop_good,diff_WoE,IV
0,G,2654,0.709495,0.007115,1883.0,771.0,0.005684,0.018456,-1.177624,NaN,NaN,0.29375
1,F,10530,0.749478,0.028228,7892.0,2638.0,0.023825,0.063146,-0.974729,0.039983,0.202895,0.29375
2,E,28612,0.799070,0.076702,22863.0,5749.0,0.069020,0.137615,-0.690063,0.049593,0.284665,0.29375
3,D,61498,0.842255,0.164862,51797.0,9701.0,0.156367,0.232215,-0.395454,0.043185,0.294609,0.29375
4,C,100245,0.883246,0.268733,88541.0,11704.0,0.267292,0.280161,-0.047022,0.040991,0.348432,0.29375
5,B,109730,0.919630,0.294160,100911.0,8819.0,0.304635,0.211102,0.366773,0.036384,0.413795,0.29375
6,A,59759,0.959939,0.160200,57365.0,2394.0,0.173176,0.057306,1.105911,0.040309,0.739138,0.29375